AWS_REGION=''
AWS_ACCESS_KEY=''
AWS_SECRET_KEY=''
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK_URL=''
IS_PRODUCTION=''
PORT=''
JWT_SECRET=''
JWT_EXPIRES_IN=''
ADMIN_EMAILS=''
LAMBDA_API_KEY=''